/* variables */

:root {
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
--veryDarkBlue: hsl(234, 12%, 34%);
--grayishBlue: hsl(229, 6%, 66%);
--veryLightGray: hsl(0, 0%, 98%);
--ff-fw-200: poppins-200;
--ff-fw-400: poppins-400;
--ff-fw-600: poppins-600;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {  
  background: var(--veryLightGray);
  font-size: 1rem;
  overflow-y: scroll;
}
img {
  max-width: 100%;
}

/* basic layout customize */

.top-sec {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.main-sec {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.childDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* card wrapper middle of main sec */

.card-wrapper-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 34rem;
}

/* basic top design */

.texts {
  width: 35rem;
  display: flex;  
  flex-flow: column wrap;
  text-align: center;
}
.t-red {
  font-family: var(--ff-fw-200);
  color: var(--veryDarkBlue);
  font-size: 2rem;
  margin-top: 1rem;
}
.t-pbt {
  font-family: var(--ff-fw-600);
  color: var(--veryDarkBlue);
  font-size: 2rem;
  margin: 0.9rem 0;
}
.t-prgph {
  font-family: var(--ff-fw-400);
  color: var(--grayishBlue);
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* card layout design */

.card {
  width: 22rem;
  height: 15.625rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 1.75rem;
  box-shadow: -0.25rem .5rem 1rem hsla(212, 86%, 64%, 0.15);
}
.card-half {
  flex-basis: 50%;
}

/* card top border */

.card.one {
  border-top: 0.3rem solid var(--cyan);
}
.card.two {
  border-top: 0.3rem solid var(--red);
}
.card.three {
  border-top: 0.3rem solid var(--orange);
}
.card.four {
  border-top: 0.3rem solid var(--blue);
}

/* card content design */

.card .top h2 {
  font-family: var(--ff-fw-600);
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  color: var(--veryDarkBlue);
}
.card .top p {
  font-family: var(--ff-fw-400);
  font-size: 0.85rem;
  color: var(--grayishBlue);
}
.card .bottom  {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.card .bottom img {
  width: 3.5rem;
}

/* responsive screen */

@media screen and (max-width: 800px) {
  .container {
    padding: 0rem;
    margin: 2rem 0 6rem 0;
  }
  .main-sec {
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }
  .texts {
    display: flex;
    align-items: center;
  }
  .t-red {
    font-size: 1.75rem;
  }
  .t-pbt {
    font-size: 1.75rem;
  }
  .main-sec {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 2rem;
  }
  .card.four {
    margin-bottom: 2rem;
  }
  .t-prgph {
    width: 20rem;    
  }
}

/* local fonts */

@font-face {
  font-family: poppins-200;
  src: url(./font/poppins-200.ttf);
}
@font-face {
  font-family: poppins-400;
  src: url(./font/poppins-400.ttf);
}
@font-face {
  font-family: poppins-600;
  src: url(./font/poppins-600.ttf);
}
